%tpbtn {
  height: 40px;
  border-radius: 90px;
  line-height: 20px;
  font-weight: 500;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

%tpminus {
  position: absolute;
  background: #ffffff;
  width: 15px;
  height: 1px;
  left: 7px;
  top: 14px;
  z-index: 3;
  &:hover {
    cursor: pointer;
  }
}

%tpwrapper {
  position: absolute;
  width: 30px;
  top: 5px;
  height: 30px;
  border-radius: 50%;
  transition: all .5s cubic-bezier(.77,0,.175,1);
  @media screen and (hover: hover) {
    &:hover {
      background-color: #004f9a;
      cursor: pointer;
    }
  }
}

.btn {
  @extend %tpbtn;
  position: relative;
  left: 0;
  top: 0;
  background-color: #0071dc;
  width: 150px;
  box-shadow: 0 1px 2px 1px #00000026;
  z-index: 4;

  .counter {
    position: absolute;
    top: 10px;
    right: 50%;
  }

  .wrapper_minus {
    @extend %tpwrapper;
    left: 8px;
    .minus {
      @extend %tpminus;
    }
  }

  .wrapper_plus {
    @extend %tpwrapper;
    right: 8px;
    .plus {
      @extend %tpminus;
      // right: 20px;
      &::before {
        content: "";
        @extend %tpminus;
        left: 0;
        top: 0;
        transform: rotate(90deg);
      }
    }
  }
}
