@import "../../../styles/variables.scss";

.btn {
  @extend %tpbtn;
  font-size: 16px;
  border: none;
  z-index: 3;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  width: 100px;
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  column-gap: 10px;
  @media screen and (hover: hover) {
    &:hover {
      background-color: #004f9a;
      cursor: pointer;
    }
  }

  .wrapper {
    position: relative;
    width: 15px;
    height: 15px;

    .plus {
      @extend %tpminus;
      top: 9px;
      &::before {
        content: "";
        @extend %tpminus;
        top: 0;
        left: 0;
        transform: rotate(90deg);
      }
    }
  }
}
